{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	
{% endfor %}



	<h2>Dashboard</h2>
	<br/><br/>
    <div class="card">
        <div class="card-header ">
          <div class="row">
            <div class="col-6">{{ current_user.first_name }} -  {{ current_user.last_name }} </div><div class="col-6"> <span style="float: right;">Total Score: {{total_score}}</span></div>
          </div>
        </div>
        <div class="card-body">         
          <p class="card-text">
            <div class="container">
              <div class="row">
                <div class="col-8">
                    <strong>First Name:</strong>
                    {{ current_user.first_name }}<br/>

                    <strong>Last Name:</strong>
                    {{ current_user.last_name }}<br/>

                    <strong>Username:</strong>
                    {{ current_user.username }}<br/>

                    <strong>User Id:</strong>
                    {{ current_user.id }}<br/>

                    <strong>Email:</strong>
                    {{ current_user.email }}<br/>

                    <strong>Profile Pic:</strong>
                    {{ current_user.profile_pic }}<br/>

                    <strong>Date Joined:</strong>
                    {{ current_user.date_added }}<br/>

                    <strong>Enrolled Courses:</strong>
                    {{ enrolled_courses }}<br/>
                  </p>
                  <a href="{{ url_for('logout')}}" class="btn btn-secondary btn-sm">Logout</a>

                  <a href="{{ url_for('update',id=current_user.id)}}" class="btn btn-secondary btn-sm">Update Profile</a>

                  <a href="{{ url_for('delete',id=current_user.id)}}" class="btn btn-danger btn-sm">Delete</a>

                  <a href="{{ url_for('enroll',id=current_user.id)}}" class="btn btn-danger btn-sm">Enroll</a>
                  
                </div>
                <div class="col-4">
                  <div class="d-flex flex-column justify-content-end" style="float: right;">
                     <img src="{{ url_for('static', filename='images/default_profile_pic.png')}}">
                     <div class="mt-2 text-center">
                      <span class="fa fa-star {% if total_score >= 50 %} checked {% endif %}"></span>
                      <span class="fa fa-star {% if total_score >= 100 %} checked {% endif %}"></span>
                      <span class="fa fa-star {% if total_score >= 200 %} checked {% endif %}"></span>
                      <span class="fa fa-star {% if total_score >= 500 %} checked {% endif %}"></span>
                      <span class="fa fa-star {% if total_score >= 1000 %} checked {% endif %}"></span>
                    </div>
                    <div class="text-center">
                      You're <span class="text-primary fw-bold">{{next_target - total_score}}</span> points from your next star
                    </div>
                  </div>
                </div>
              </div>
           </div>
	
        </div>
    </div>

<br/>





<!-- <div class="card">
  <div class="card-header">
    Update Profile
  </div>
  <div class="card-body">

  	<form action="/dashboard" method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}

      {{ form.first_name.label(class="form-label") }}

      {{ form.first_name(class="form-control", value=user_to_update.first_name) }}
      <br/>

      {{ form.last_name.label(class="form-label") }}

      {{ form.last_name(class="form-control", value=user_to_update.last_name) }}
      <br/>

      {{ form.username.label(class="form-label") }}

      {{ form.username(class="form-control", value=user_to_update.username) }}
      <br/>

      {{ form.email.label(class="form-label") }}

      {{ form.email(class="form-control", value=user_to_update.email) }}
      <br/>

      <br/>
      
      {{ form.submit(class="btn btn-secondary btn-sm") }}

	  </form>
  </div>
</div> -->


{% endblock %}